.card {
    width: 280px;
    background: gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
body{
    background-color: #202020
}


.moldura_imagem {
    width: 100%;
    height: 360px;
    background: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24px;
    color: black;
}

.bolinha {
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}